<div class="card p-3 pb-0 m-2 mb-4 text-dark">
  <div class="d-flex flex-row ">
    <div class="pt-1"><span class="mb-0 text-muted"><%= comment.user.first_name %> <%= comment.user.last_name %>  •  </span></div>
    <div class="pt-1"><span class="text-muted"><%=comment.created_at.strftime("%d %b %Y")%></span></div>
    <div class="dropdown ms-auto">
      <button class="btn p-1 m-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots"> </i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><%= button_to 'Destroy Comment',
              [ comment.article, comment ],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
  <p class=""> <%=comment.body%> </p>
</div>
