<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <% form.label :body%><br>
    <%= form.text_area :body, cols: 60, rows: 5, placeholder: "Add to the discussion", class: "p-2 border border-secondary rounded"%>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>


  <%= form.hidden_field :user_id, value: user.id %>
  
  <p>
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </p>
<% end %>
