<%= form_with model: [ @article, @comment] do |form| %>
  <p>
    <% form.label :body%><br>
    <%= form.text_area :body, cols: 60, rows: 5, placeholder: "Add to the discussion", class: "p-2 border border-secondary rounded mw-100"%>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>


  
  <p>
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </p>
<% end %>
