<%= form_with model: article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.rich_text_area :body %>
    </div>



  
    <div>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>

  
    <div>
      <%= form.submit "Publish", class: "btn btn-primary"%>
    </div>
  <% end %>
  