<div>
  <div>
    <h2><%= @article.title %></h2>
  </div>
  <div>
    <p >
      <span>by <%= @article.user.first_name %></span> |
      <span>on <%=@article.created_at.strftime("%d %^b %Y")%></span> |
    </p>
  </div>
  <div>
    <p><%= @article.body %></p>
  </div>

  <% if current_user != nil && current_user.id == @article.user_id %>
    <ul>
      <li><%= link_to "Edit", edit_article_path(@article) %></li>
      <li><%= link_to "Destroy", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
    </ul>
  <% end %>

  <hr>
  <div>
    <h2 class="mt-4 mb-4">Comments</h2>
    <%= render @article.comments %>
  </div>
  

  <h2>Add a comment:</h2>
  <%= render partial: 'comments/form', locals: { user: @article.user }%>

</div>
